.main-layout{
min-height:100vh;
background:#f4f6f9;
font-family:'Segoe UI',sans-serif;
}


/* SIDEBAR */

app-sidebar{
position:fixed;
left:0;
top:0;
width:240px;
height:100vh;
}


/* MAIN CONTENT */

.main-content{
margin-left:240px;
display:flex;
flex-direction:column;
min-height:100vh;
transition:margin-left .3s ease;
}


/* COLLAPSE */

.main-layout.sidebar-collapsed .main-content{
margin-left:70px;
}