<div class="login-page">

  <div class="login-container">

    <div class="login-card">

      <div class="login-header text-center">
        <h2 class="page-title">MAK Pharma</h2>
        <p>Billing Management System</p>
      </div>

      <form (ngSubmit)="login()" autocomplete="off">

        <!-- USERNAME -->
        <div class="form-group">
          <label>Username</label>
          <input
            type="text"
            [(ngModel)]="username"
            name="username"
            required
          />
        </div>

        <!-- PASSWORD -->
        <div class="form-group">
          <label>Password</label>

          <div class="password-box">
            <input
              [type]="showPassword ? 'text' : 'password'"
              [(ngModel)]="password"
              name="password"
              required
            />
            <span (click)="showPassword = !showPassword">👁</span>
          </div>
        </div>

        <!-- ERROR -->
        <div class="error" *ngIf="loginError">
          {{ loginError }}
        </div>

        <!-- FORGOT -->
        <div class="form-footer">
          <span class="forgot" (click)="openForgot()">Forgot Password?</span>
        </div>

        <!-- BUTTON -->
        <button type="submit" [disabled]="loading">
          {{ loading ? 'Logging in...' : 'Login' }}
        </button>

      </form>

    </div>

  </div>

</div>

<!-- MODAL -->
<div class="forgot-overlay" *ngIf="showForgot">

  <div class="forgot-card">

    <div class="modal-header">
      <h3>Reset Password</h3>
      <button (click)="closeForgot()">✖</button>
    </div>

    <!-- STEP 1 -->
    <div *ngIf="step === 1">
      <input [(ngModel)]="email" placeholder="Enter email" name="email" />
      <div class="error" *ngIf="otpError">{{ otpError }}</div>
      <button (click)="sendOtp()">Send OTP</button>
    </div>

    <!-- STEP 2 -->
    <div *ngIf="step === 2">
      <input [(ngModel)]="otp" placeholder="Enter OTP" name="otp" />
      <div class="error" *ngIf="verifyError">{{ verifyError }}</div>

      <button (click)="verifyOtp()">Verify OTP</button>

      <p *ngIf="!canResend">Resend in {{ timer }}s</p>
      <button *ngIf="canResend" (click)="resendOtp()">Resend OTP</button>
    </div>

    <!-- STEP 3 -->
    <div *ngIf="step === 3">
      <input [(ngModel)]="newPassword" placeholder="New Password" name="newPassword" />
      <input [(ngModel)]="confirmPassword" placeholder="Confirm Password" name="confirmPassword" />

      <div class="error" *ngIf="resetError">{{ resetError }}</div>

      <button (click)="resetPassword()">Reset Password</button>
    </div>

  </div>

</div>