<div class="login-page">

  <div class="login-container">

    <div class="login-card">

      <div class="login-header">
        <h2 class="page-title">MAK Pharma</h2>
        <p>Billing Management System</p>
      </div>

      <form (ngSubmit)="login()">

        <div class="form-group">
          <label>Username</label>
          <input [(ngModel)]="username" name="username" required />
        </div>

        <div class="form-group">
          <label>Password</label>
          <div class="password-box">
            <input
              [type]="showPassword ? 'text' : 'password'"
              [(ngModel)]="password"
              name="password"
              required
            />
            <span (click)="showPassword = !showPassword">👁</span>
          </div>
        </div>

        <div class="error" *ngIf="loginError">{{ loginError }}</div>

        <div class="form-footer">
          <span class="forgot" (click)="openForgot()">Forgot Password?</span>
        </div>

        <button type="submit" [disabled]="loading">
          {{ loading ? 'Logging in...' : 'Login' }}
        </button>

      </form>

    </div>

  </div>

</div>

<!-- MODAL -->
<div class="forgot-overlay" *ngIf="showForgot">

  <div class="forgot-card">

    <div class="modal-header">
      <h3>Reset Password</h3>
      <button (click)="closeForgot()">✖</button>
    </div>

    <!-- STEP 1 -->
    <div *ngIf="step === 1">
      <input [(ngModel)]="email" name="email" placeholder="Enter email" />
      <div class="error">{{ otpError }}</div>

      <button (click)="sendOtp()" [disabled]="otpLoading">
        {{ otpLoading ? 'Sending...' : 'Send OTP' }}
      </button>
    </div>

    <!-- STEP 2 -->
    <div *ngIf="step === 2">
      <input [(ngModel)]="otp" name="otp" placeholder="Enter OTP" />
      <div class="error">{{ verifyError }}</div>

      <button (click)="verifyOtp()" [disabled]="verifyLoading">
        {{ verifyLoading ? 'Verifying...' : 'Verify OTP' }}
      </button>

      <p *ngIf="!canResend">Resend in {{ timer }}s</p>
      <button *ngIf="canResend" (click)="resendOtp()">Resend OTP</button>
    </div>

    <!-- STEP 3 -->
    <div *ngIf="step === 3">
      <input [(ngModel)]="newPassword" name="newPassword" placeholder="New Password" />
      <input [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Password" />

      <div class="error">{{ resetError }}</div>

      <button (click)="resetPassword()" [disabled]="resetLoading">
        {{ resetLoading ? 'Updating...' : 'Reset Password' }}
      </button>
    </div>

  </div>

</div>